#header{
    background: no-repeat url("img/banner.png");
    height: 600px;
    
}
#flex1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
#flex2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;